body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

#app {
  box-sizing: border-box;
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

#whiteboard {
  flex-grow: 1;
  border: 1px solid #333;
}

#tools {
  display: flex;
  gap: 0.5em;
  user-select: none;
  transition: height 0.2s;

  button {
    cursor: pointer;
  }

  button.active {
    color: red;
    border-color: transparent;
    cursor: default;
  }
}

$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
  "Open Sans", "Helvetica Neue", sans-serif;

#actions {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 0.25em;
  padding-right: 1em;
  user-select: none;
  transition: width 0.2s;
  font-family: $sans-serif;

  button {
    color: #fff;
    background: #0074d9;
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    font-family: $sans-serif;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(1.5);
    }
  }
}

.two-side {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.new-page-btn {
  margin-left: auto;
  padding: 0 10px;
  color: white;
  background-color: #0074d9;
  border: 0;
  border-radius: 2px;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(1.5);
  }
}

.reset-btn {
  @extend .new-page-btn;
  margin-left: 0;
  background-color: #ff4136;
}

.github-btn {
  @extend .reset-btn;
  background-color: #000;
  font-size: calc(5em / 6);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.netless-window-manager-sizer::before,
.netless-window-manager-sizer::after {
  background: #f4f4f4;
}
