.netless-app-embedded-page {
  width: 100%;
  height: 100%;
  position: relative;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }
}

.netless-app-embedded-page-wb-view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
