.netless-app-iframe-bridge {
  width: 100%;
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
  }

  &.readonly iframe {
    pointer-events: none;
  }
}

.netless-app-iframe-bridge-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
