@import "quill/dist/quill.snow.css";
@import "katex/dist/katex.min.css";
@import "@highlightjs/cdn-assets/styles/github.min.css";

.netless-app-quill-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.netless-app-quill-container {
  flex: 1;
}

.ql-container.ql-snow {
  border: 0;
}
.ql-toolbar.ql-snow {
  border: 0;
  border-bottom: 1px solid #eeeef7;
}
