$namespace: "netless-app-slide";

.#{$namespace}-wb-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
}

.#{$namespace}-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.25);
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}
