$namespace: "netless-app-monaco";

.#{$namespace}-editor-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.#{$namespace}-cursor-readonly {
  .cursors-layer > .cursor {
    display: none !important;
  }
}

.#{$namespace}-selection {
  background: rgb(250, 129, 0, 0.5);
}

.#{$namespace}-cursor {
  --content: "Guest";
  --bg-color: orange;
  --text-color: #fff;
  --label: none;
  --dot: block;
  display: none;
  margin-left: -1px;
  border-left: 2px solid var(--bg-color);
  transition: top 0.2s, left 0.2s;
  user-select: none;
}

.#{$namespace}-cursor::before {
  display: var(--label);
  content: var(--content);
  position: absolute;
  z-index: 1;
  top: -18px;
  left: -4px;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  padding: 0 5px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  background: var(--bg-color);
  border-radius: 4px;
  color: var(--text-color);
}

.#{$namespace}-cursor-first-line::before {
  top: 16px;
  left: -2px;
}

.#{$namespace}-cursor-right::before {
  left: unset;
  right: 2px;
}

.#{$namespace}-cursor::after {
  display: var(--dot);
  content: " ";
  position: absolute;
  left: -4px;
  top: -4px;
  width: 6px;
  height: 6px;
  border-radius: 4px;
  background: var(--bg-color);
}

.#{$namespace}-footer {
  box-sizing: border-box;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  border-top: 1px solid #eeeef7;
  color: #191919;
  font-size: 12px;
}

.#{$namespace}-readonly {
  pointer-events: none;

  .#{$namespace}-lang-select {
    pointer-events: none;
  }
}

.#{$namespace}-footer-ctrl {
  width: 100%;
  height: 26px;
}

.#{$namespace}-terminal {
  flex: 1;
  width: 100%;
}
