@import "@antv/x6/dist/x6.css";

.netless-app-mindmap-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.netless-app-mindmap-graph {
  width: 100%;
  height: 100%;
  outline: none;
}

.topic-image {
  visibility: hidden;
  cursor: pointer;
}
.x6-node:hover .topic-image {
  visibility: visible;
}
.x6-node-selected rect {
  stroke-width: 2px;
}
.x6-node-tool-editor {
  cursor: text;
}
