@import "./variables.scss";

@import "./Footer/style.scss";
@import "./Preview/style.scss";

$namespace: $docs-viewer-namespace;

.#{$namespace}-content {
  position: relative;
  height: 100%;
  overflow: hidden;
}
