@import "../DocsViewer/variables.scss";
@import "../ScrollBar/style.scss";
@import "../PageRenderer/style.scss";

$namespace: "netless-app-docs-viewer-static";

.#{$namespace}-pages {
  overflow: hidden;
  position: relative;
  height: 100%;
  user-select: none;
}

.#{$namespace}-page {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
}
