.page-renderer-pages-container {
  position: relative;
  overflow: hidden;
}

.page-renderer-page {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-renderer-pages-container.is-hwa {
  .page-renderer-page {
    will-change: transform;
  }
}

.page-renderer-page-img {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
}
