$namespace: "netless-app-docs-viewer-static";

$static-scrollbar-size: 8px;
$static-scrollbar-min-length: 30px;
$static-scrollbar-color: rgba(68, 78, 96, 0.4);
$static-scrollbar-color-hover: rgba(68, 78, 96, 0.5);
$static-scrollbar-color-active: rgba(68, 78, 96, 0.6);

.#{$namespace}-scrollbar {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2147483647;
  width: $static-scrollbar-size * 2;
  min-height: $static-scrollbar-min-length;
  margin: 0;
  padding: 0 0 0 $static-scrollbar-size;
  border: none;
  outline: none;
  opacity: 0;
  background: transparent;
  transition: opacity 0.4s 3s, transform 0.2s;
  user-select: none;
  touch-action: none;

  &::after {
    content: "";
    display: block;
    width: $static-scrollbar-size;
    height: 100%;
    border-radius: $static-scrollbar-size * 0.5;
    background: $static-scrollbar-color;
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.7);
    transition: background 0.4s;
  }

  &.#{$namespace}-scrolling {
    opacity: 1;
    transition: opacity 0.4s, transform 0.2s;
  }

  &.#{$namespace}-scrollbar-dragging {
    opacity: 1;
    transition: opacity 0.4s 3s !important;

    &::after {
      background: $static-scrollbar-color-active;
    }
  }

  &:hover,
  &:focus {
    &::after {
      background: $static-scrollbar-color-hover;
    }
  }

  &:active {
    &::after {
      background: $static-scrollbar-color-active;
    }
  }
}

.telebox-body-wrap:hover {
  .#{$namespace}-scrollbar {
    opacity: 1;
    transition: opacity 0.4s, transform 0.2s;
  }
}

.telebox-readonly {
  .#{$namespace}-scrollbar {
    display: none;
  }
}
